# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint 

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
city_weather_df =pd.read_csv('city_weather.csv') 
city_weather_df

,city,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bredasdorp,-34.53,20.04,62.60,88.0,2.0,11.41,ZA,1.587842e+09
1,piacabucu,-10.41,-36.43,83.53,65.0,10.0,10.00,BR,1.587842e+09
2,vaini,-21.20,-175.20,75.20,94.0,75.0,5.82,TO,1.587842e+09
3,mount gambier,-37.83,140.77,60.80,93.0,95.0,17.22,AU,1.587842e+09
4,hobart,-42.88,147.33,59.68,59.0,40.0,19.46,AU,1.587842e+09
...,...,...,...,...,...,...,...,...,...
560,sur,22.57,59.53,86.09,41.0,0.0,7.00,OM,1.587842e+09
561,junction city,39.03,-96.83,65.75,59.0,40.0,8.05,US,1.587842e+09
562,aksha,50.28,113.29,38.84,47.0,0.0,2.80,RU,1.587842e+09
563,henties bay,-22.12,14.28,57.99,95.0,12.0,7.14,NaN,1.587842e+09
564,sao sepe,-30.16,-53.57,93.20,34.0,20.0,8.05,BR,1.587842e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
gmaps.configure(api_key=g_key)

points = city_weather_df[["lat", "lng"]]
scale = city_weather_df['Humidity']

In [91]:

fig = gmaps.figure(map_type="HYBRID")
heat_layer = gmaps.heatmap_layer(points, weights = scale, 
                                 dissipating=False, max_intensity=2,
                                 point_radius=1)



fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [92]:
low_temp =city_weather_df.loc[city_weather_df['Max Temp']  > 70]
high_low_parm = low_temp.loc[low_temp['Max Temp'] < 88.5 ]
wind_parm = high_low_parm.loc[high_low_parm['Wind Speed'] < 10]
zero_clouds_parm = wind_parm.loc[wind_parm['Cloudiness'] == 0]
zero_clouds_parm

,city,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
171,cap malheureux,-19.98,57.61,77.00,90.0,0.0,3.00,MU,1.587842e+09
186,port keats,-14.25,129.55,80.22,51.0,0.0,5.82,AU,1.587842e+09
292,san quintin,30.48,-115.95,76.28,46.0,0.0,6.22,MX,1.587842e+09
295,qeshm,26.96,56.27,85.17,31.0,0.0,4.70,IR,1.587842e+09
317,santiago,-33.46,-70.65,72.00,99.0,0.0,4.81,CL,1.587842e+09
324,guerrero negro,27.98,-114.06,79.47,33.0,0.0,6.78,MX,1.587842e+09
334,muscat,23.61,58.59,87.80,25.0,0.0,3.04,OM,1.587842e+09
412,biritiba-mirim,-23.57,-46.04,82.04,39.0,0.0,3.36,BR,1.587842e+09
434,san juan,-31.54,-68.54,74.12,29.0,0.0,9.66,AR,1.587842e+09
560,sur,22.57,59.53,86.09,41.0,0.0,7.00,OM,1.587842e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [97]:
hotel_df= pd.DataFrame(zero_clouds_parm)
hotel_df

,city,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
171,cap malheureux,-19.98,57.61,77.00,90.0,0.0,3.00,MU,1.587842e+09,
186,port keats,-14.25,129.55,80.22,51.0,0.0,5.82,AU,1.587842e+09,
292,san quintin,30.48,-115.95,76.28,46.0,0.0,6.22,MX,1.587842e+09,
295,qeshm,26.96,56.27,85.17,31.0,0.0,4.70,IR,1.587842e+09,
317,santiago,-33.46,-70.65,72.00,99.0,0.0,4.81,CL,1.587842e+09,
324,guerrero negro,27.98,-114.06,79.47,33.0,0.0,6.78,MX,1.587842e+09,
334,muscat,23.61,58.59,87.80,25.0,0.0,3.04,OM,1.587842e+09,
412,biritiba-mirim,-23.57,-46.04,82.04,39.0,0.0,3.36,BR,1.587842e+09,
434,san juan,-31.54,-68.54,74.12,29.0,0.0,9.66,AR,1.587842e+09,
560,sur,22.57,59.53,86.09,41.0,0.0,7.00,OM,1.587842e+09,

In [102]:

hotel_df["Hotel Name"] = ""
hotel_df
params = {
    "rankby": dis_search,
    "type": target_type,
    "key": g_key
}

hotels =[]

for index,  row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    lat = row['lat']
    lng = row['lng']
      
        
  
    params['location'] = f"{lat},{lng}"
    
    response = requests.get(base_url, params=params).json()

    
    hotels.append(response['results'][0]['name'])
    
    
      
    
hotels

C:\Users\13038\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

['Momentous Holiday',
 'Yelcherr Gas Plant',
 'Refugio para mascotas Good Boy A. C.',
 'Gity Advertising Agency',
 'Erlinda Paulina Luera Pena',
 'Generador Eolico',
 'Ù…Ù‚Ù‡Ù‰ Ø§Ù„Ø²Ø¯Ø¬Ø§Ù„',
 'LojÃ£o Avenida',
 "Larry's Un Sorbo Para La Distraccion",
 'Arabian Sea Motel']

In [104]:
hotel_df['Hotel Name'] = hotels
hotel_df

C:\Users\13038\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,city,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
171,cap malheureux,-19.98,57.61,77.00,90.0,0.0,3.00,MU,1.587842e+09,Momentous Holiday
186,port keats,-14.25,129.55,80.22,51.0,0.0,5.82,AU,1.587842e+09,Yelcherr Gas Plant
292,san quintin,30.48,-115.95,76.28,46.0,0.0,6.22,MX,1.587842e+09,Refugio para mascotas Good Boy A. C.
295,qeshm,26.96,56.27,85.17,31.0,0.0,4.70,IR,1.587842e+09,Gity Advertising Agency
317,santiago,-33.46,-70.65,72.00,99.0,0.0,4.81,CL,1.587842e+09,Erlinda Paulina Luera Pena
324,guerrero negro,27.98,-114.06,79.47,33.0,0.0,6.78,MX,1.587842e+09,Generador Eolico
334,muscat,23.61,58.59,87.80,25.0,0.0,3.04,OM,1.587842e+09,Ù…Ù‚Ù‡Ù‰ Ø§Ù„Ø²Ø¯Ø¬Ø§Ù„
412,biritiba-mirim,-23.57,-46.04,82.04,39.0,0.0,3.36,BR,1.587842e+09,LojÃ£o Avenida
434,san juan,-31.54,-68.54,74.12,29.0,0.0,9.66,AR,1.587842e+09,Larry's Un Sorbo Para La Distraccion
560,sur,22.57,59.53,86.09,41.0,0.0,7.00,OM,1.587842e+09,Arabian Sea Motel

,city,lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
171,cap malheureux,-19.98,57.61,77.00,90.0,0.0,3.00,MU,1.587842e+09,
186,port keats,-14.25,129.55,80.22,51.0,0.0,5.82,AU,1.587842e+09,
292,san quintin,30.48,-115.95,76.28,46.0,0.0,6.22,MX,1.587842e+09,
295,qeshm,26.96,56.27,85.17,31.0,0.0,4.70,IR,1.587842e+09,
317,santiago,-33.46,-70.65,72.00,99.0,0.0,4.81,CL,1.587842e+09,
324,guerrero negro,27.98,-114.06,79.47,33.0,0.0,6.78,MX,1.587842e+09,
334,muscat,23.61,58.59,87.80,25.0,0.0,3.04,OM,1.587842e+09,
412,biritiba-mirim,-23.57,-46.04,82.04,39.0,0.0,3.36,BR,1.587842e+09,
434,san juan,-31.54,-68.54,74.12,29.0,0.0,9.66,AR,1.587842e+09,
560,sur,22.57,59.53,86.09,41.0,0.0,7.00,OM,1.587842e+09,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure